/* entrance.js - copyright James Hunt 2018 - 2018 / Some rights reserved */
 html, body {
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
 }

 #test {
     height: 400px;
     width: 400px;

     background-color: red;

     margin: 1000px auto;
 }
